@import "node_modules/spectre.css/src/spectre";
@import "node_modules/spectre.css/src/spectre-icons";

.align-items-end {
  align-items: flex-end;
}
.bg-gray-dark {
  background: $gray-color !important;
}
.btn-xl {
  $size: 2.5rem;
  height: $size;
  width: $size;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.justify-content-between {
  justify-content: space-between;
}
